version: "3.8"
services:
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: foodapp
    volumes:
      - pgdata:/var/lib/postgresql/data
      
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: nest-backend
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: foodapp
    volumes:
    - ./backend:/app
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "3000:3000"
    volumes:
    - ./frontend:/app
    depends_on:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: nest-pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    
    ports:
      - "5050:80"

volumes:
  pgdata:
