header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: rgb(184, 177, 168);
}

header button {
    height: 5vh;
    margin: 0px 100px;
    background-color: rgb(121, 121, 212);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid blue;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    background-color: aquamarine;
    position: fixed;
    top: 30%;
    left: 25%;
    border-radius:20px ;
    padding-top:20px ;
    z-index: 100;
}

.form input {
    width: 90%;
    height: 5vh;
    margin: 20px 0px;
    border-radius: 20px;
    background-color: white;
    padding-left: 10px;
}

.formbuttons{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
}
.formbuttons button{
    height: 5vh;
    padding: 10px;
    background-color: lightblue;
    margin: 0px 20px;
    border-radius: 20px;
    border: 1px soli blue;
}

main{
    display: flex;
    justify-content: center;
    padding: 30px;
}
