body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #f5f7fa;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2874f0;
  padding: 10px 16px;
  color: #fff;
  z-index: 1000;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
}

.nav-center {
  flex: 1;
  display: flex;
  gap: 10px;
  margin: 0 20px;
}

.nav-search {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.nav-select {
  padding: 8px 10px;
  color: black;
  border: none;
  border-radius: 4px;
  outline: none;
}

.nav-search {
  flex: 1;
}

.nav-select {
  width: 160px;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.nav-right button {
  padding: 7px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: #fff;
  color: #2874f0;
  cursor: pointer;
  transition: 0.2s ease;
}

.nav-right button:hover {
  background: #e6e6e6;
}

.nav-right .logout-btn {
  background: #ff4d4d;
  color: #fff;
}

.nav-right .logout-btn:hover {
  background: #e04444;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  padding: 20px;
}

main p {
  color: #666;
  font-size: 1rem;
}

.footer {
  text-align: center;
  padding: 15px 0;
  background: #141414;
  color: #eee;
  margin-top: 20px;
  font-size: 14px;
}


@media (max-width: 900px) {
  .nav-center {
    flex-direction: column;
    margin: 0 10px;
  }

  .nav-select {
    width: 100%;
    color: black;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }

  .nav-center {
    width: 100%;
    order: 3;
  }

  .nav-right {
    width: 100%;
    justify-content: center;
    order: 2;
  }

  .nav-right button {
    flex: 1;
  }

  main {
    padding: 15px;
  }
}